body{
    margin: 0px;
    padding: 0px;
    background-color: #00337C;
}

.NavBox ul{
    margin:0px;
    padding: 0px;
    list-style-type: none;
}

.NavBox ul li{
    display: inline-block;
}

.NavBox ul li a{
    margin:0px;
    padding: 0px;
    color: #03C988;
    font-size: 30px;;
    text-decoration: none;
}

.HomePageImg img{
    width:50vh;
    height: 75vh;
}
