/*
COLORS

Dark Blue: #13005A
Blue: #00337C
Lighter Blue: #1C82AD
Green Light: #03C988

*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 200vh;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #03C988;
}

.nav {
    width: 100%;
    height: 10vh; 
    position: fixed;
    z-index: 5;
}

.bg-nav-color{
    transition: all 1s;
    background-color: #13005A;
}

.nav-menu-childs{
    top: 5%;
    padding: 10px;
    display:inline;
}

.nav-mobile-menu-option-image{
    display:none;
}

.nav-menu-main-links ul{
    list-style-type: none; 
    display: inline-block;
    float: right;
}

.nav-menu-main-links ul li {
    display:inline;
    padding: 50px;
}

.nav-menu-blog-link {
    padding-right: 350px !important;
}

 .nav-menu-main-links ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #03C988;
}


.header {
    height: 100vh;
    background-image: linear-gradient( 225deg, #00337C 50%, #13005A);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-image-box {
    position: absolute;
    bottom: -7px;
    right: 0;
}

.header-image {
    height: 95vh;
}
