/*
COLORS

Dark Blue: #13005A
Blue: #00337C
Lighter Blue: #1C82AD
Green Light: #03C988

*/

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #03C988;
    padding: 30px;
    
}

.header{
    height: 100vh;
    background-image: linear-gradient(
        225deg, 
        #00337C 50%, 
        #13005A);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-image-box{
    position: absolute;
    bottom: -7px;
    left: 35%;
}

.header-image{
    height: 90vh;
}
